<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhouy.basicauth.mapper.RoleResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.zhouy.basicauth.bean.entity.RoleResource">
        <id column="id" property="id" />
        <result column="archive" property="archive" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <select id="matchByRoleName" resultType="long">
        SELECT a.id FROM role_resource a
        INNER JOIN role b ON a.role_id = b.id AND b.archive = 0
        WHERE b.name = #{name} AND a.archive = 0 AND a.resource_id = #{resourceId}
        LIMIT 1
    </select>
</mapper>
