<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhouy.basicauth.mapper.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.zhouy.basicauth.bean.entity.UserRole">
        <id column="id" property="id" />
        <result column="archive" property="archive" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <select id="listRoles" resultType="top.zhouy.basicauth.bean.vo.UserRoleVO">
        SELECT a.id, b.name roleName
        FROM user_role a
        INNER JOIN role b ON a.role_id = b.id AND b.archive = 0
        WHERE a.archive = 0 AND a.user_id = #{userId}
    </select>
</mapper>
