<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhouy.shopproduct.mapper.ShopSkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.zhouy.shopproduct.bean.entity.ShopSku">
        <id column="id" property="id" />
        <result column="sku_name" property="skuName" />
        <result column="sku_img" property="skuImg" />
        <result column="price" property="price" />
        <result column="stock" property="stock" />
        <result column="sales" property="sales" />
        <result column="archive" property="archive" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
