<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhouy.bloghome.mapper.BlogArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.zhouy.bloghome.bean.entity.BlogArticle">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="archive" property="archive" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>
    
    <resultMap id="VOResultMap" type="top.zhouy.bloghome.bean.vo.BlogArticleVO" extends="BaseResultMap">

    </resultMap>

    <select id="countBlog" resultType="long">
        SELECT count(1) FROM blog_article a
        LEFT JOIN blog_article_category b ON a.id = b.article_id AND b.archive = 0
        WHERE a.archive = 0
        <if test="categoryId != null and categoryId != ''">
            AND b.category_id = #{categoryId}
        </if>
        AND a.id > 1
    </select>

    <select id="listBlog" resultMap="VOResultMap">
        SELECT a.* FROM blog_article a
        LEFT JOIN blog_article_category b ON a.id = b.article_id AND b.archive = 0
        WHERE a.archive = 0
        <if test="categoryId != null and categoryId != ''">
            AND b.category_id = #{categoryId}
        </if>
        AND a.id > 1
    </select>

    <update id="like">
        UPDATE blog_article
        SET likes = likes + #{amount}
        WHERE id = #{id}
    </update>

    <update id="view">
        UPDATE blog_article
        SET views = views + #{amount}
        WHERE id = #{id}
    </update>
</mapper>
