<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhouy.blogmanage.mapper.BlogCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.zhouy.bloghome.bean.entity.BlogCategory">
        <id column="id" property="id" />
        <result column="category_name" property="categoryName" />
        <result column="parent_id" property="parentId" />
        <result column="category_type" property="categoryType" />
        <result column="archive" property="archive" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>
</mapper>
