<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhouy.shophome.mapper.ShopImgConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.zhouy.shophome.bean.entity.ShopImgConfig">
        <id column="id" property="id" />
        <result column="img_type" property="imgType" />
        <result column="heigth" property="heigth" />
        <result column="width" property="width" />
        <result column="quality" property="quality" />
        <result column="archive" property="archive" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
